# Web scraping and automation
playwright

# Web framework
django
psycopg2-binary
django-multiselectfield
django-autocomplete-light
djangorestframework

# HTTP requests
requests
aiohttp
beautifulsoup4

# Environment variables
python-dotenv

# AI/ML
google-generativeai
google-genai
openai
groq

pytest
pytest-django

#IDK
whitenoise
gunicorn
dj-database-url

